{% block body%}
    <link rel="stylesheet" href="{{ asset('css/blocked.css') }}">
<div class="container">
    <div class="alert alert-warning" role="alert">
        Votre compte est bloqué. Veuillez contacter l'administrateur pour plus d'informations.
    </div>
    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>
</div>



{% endblock %}