.favorites-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
}


.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-input {
    padding: 15px 20px;
    font-size: 18px;
    width: 100%;
    max-width: 600px; /* Cette valeur peut être ajustée */
    border: 1px solid #ccc;
    border-radius: 8px;
}


.search-button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Ajuste la taille du texte si nécessaire */
    margin-left: 10px; /* Ajoute de l'espace entre l'input et le bouton */
}

.search-button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Augmente la taille du texte du bouton */
    margin-left: 10px; /* Espacement entre le champ de texte et le bouton */
}

.search-button:hover {
    background-color: #45a049;
}

.search-button:active {
    background-color: #398e3f;
}

.favorites-container h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.message-success {
    color: #28a745;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.station-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.station-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.station-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.station-info {
    margin-bottom: 15px;
}

.station-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.station-item form {
    display: flex;
    justify-content: center;
}

.favorite-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.favorite-btn:hover {
    background-color: #c0392b;
}

.favorite-btn:active {
    background-color: #a93226;
}