{% extends 'base.html.twig' %}

{% block title %}Modification d'information{% endblock %}

{% block body %}

    <style>
        /* CSS déjà présent */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .container {
            border: solid 1px #8d8d8d;
            padding: 40px;
            border-radius: 10px;
            background-color: #fff;
            max-width: 400px;
            width: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .heading {
            font-size: 1.5rem;
            margin-bottom: 20px;
            font-weight: bold;
            text-align: center;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .btn {
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 10px;
            background: linear-gradient(135deg, #4CAF50, #208028);
            color: #fff;
            font-weight: bolder;
            transition: all 0.2s ease;
            box-shadow: 0px 2px 3px #000d3848;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
        }

        .btn-danger {
            background-color: #c9302c;
            color: #fff;
            border: none;
            transition: background-color 0.3s ease;
            margin-left: 20px;
        }

        .btn-danger:hover {
            background-color: #a72824;
        }
    </style>

    <div class="container">
        <div class="heading">Modification d'information</div>

        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
        {{ form_widget(form) }}
        <div class="btn-container">
            <button type="submit" class="btn">Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>

    <form method="post" action="{{ path('app_delete', { id: user.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
        <input type="hidden" name="_method" value="DELETE">
        <div class="btn-container">
            <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
        </div>
    </form>

{% endblock %}
