{% extends 'base.html.twig' %}

{% block title %}Modification d'information{% endblock %}

{% block body %}
    <div>
        <h1>Modification d'information</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}