{% extends 'base.html.twig' %}

{% block title %}Hello DecouvrirVelikoController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/decouvrir.css') }}">

    <div class="example-wrapper">
        <h1>Bienvenue sur la page de découverte de Veliko ! ✅</h1>

        <p>Veliko est une entreprise qui fournit une application pour connaître la disponibilité des vélos urbains. Elle est née de l'initiative "Vélib' Métropole" de Paris. Créé en 2007, Vélib’ Métropole est l’un des premiers services de vélos partagés dans le monde. L'objectif du service Vélib' Métropole est de faciliter le développement des nouvelles mobilités dans la métropole du Grand Paris.</p>

        <p>Avec plusieurs millions de trajets réalisés à Vélib’ chaque mois, nous sommes un acteur majeur des transports et un service public complémentaire.</p>

        <p><strong>Vélib’ vert ou Vélib’ bleu ?</strong> Le service Vélib’ Métropole met à disposition 19 000 vélos en version classique (vert) ou avec assistance électrique (bleu). Lancés en 2018, les Vélib’ électriques rendent les déplacements plus simples : les distances sont raccourcies et les usagers jouent des reliefs sans effort. Ils représentent aujourd’hui plus de la moitié des kilomètres parcourus à Vélib’.</p>

        <p>Avec l’implantation d’un peu moins de 1 443 stations à Paris et dans 61 communes de la métropole, le service Vélib' est le plus important système de vélos en libre-service dans le monde, à la fin de l'année 2022.</p>

        <h2>Vélib' en chiffres :</h2>
        <ul>
            <li><strong>1 464 stations</strong> à Paris et en Ile-de-France</li>
            <li><strong>19 000 vélos</strong>, dont 40% à assistance électrique</li>
            <li><strong>390 000 abonnés</strong> en 2022</li>
            <li><strong>4,7 millions de trajets</strong> réalisés en octobre 2022</li>
            <li><strong>212 000 trajets</strong> réalisés le 10 octobre 2022</li>
        </ul>

        <p>L'application Véliko a pour objectif de fournir aux utilisateurs des informations précises concernant la disponibilité des vélos au sein des 1 400 stations réparties à travers Paris et l'Ile-de-France. Pour faciliter l'accès à ces informations, il est envisagé d'intégrer une carte interactive (ci-après désignée par le terme "MAP") qui rassemblera les données de localisation (coordonnées GPS) de l'ensemble des stations. Par défaut, la visualisation sur la MAP sera centrée sur le cœur de Paris, tout en offrant la possibilité à l'utilisateur de procéder à une localisation personnelle.</p>

        <p>Parmi les 19 000 vélos disponibles, 40 % de la flotte se compose de vélos à assistance électrique. Il est impératif que l'application distingue explicitement, au sein des informations détaillées de chaque station, les vélos classiques des vélos à assistance électrique. Cette distinction doit être intuitive et immédiatement perceptible par les utilisateurs, afin de leur permettre de faire un choix éclairé selon leurs préférences et leurs besoins.</p>
    </div>

{% endblock %}
